name: "Publish"
on:
  push:
    branches: [ "main" ]

concurrency:
  group: "${{ github.workflow }}"
  cancel-in-progress: true

env:
  JAVA_VERSION: 17

jobs:
  release:
    name: "Release"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v3

      - name: "Set up JDK ${{ env.JAVA_VERSION }}"
        uses: actions/setup-java@v3
        with:
          java-version: "${{ env.JAVA_VERSION }}"
          distribution: "adopt"

      - name: "Determine version"
        run: |
          echo "VERSION=$(./gradlew properties | awk '/^version:/ { print $2; }')" >> $GITHUB_ENV

      - name: "Import GPG key"
        uses: crazy-max/ghaction-import-gpg@v5.3.0
        with:
          gpg_private_key: "${{ secrets.GPG_PRIVATE_KEY }}"

      - name: "Gradle publish"
        uses: gradle/gradle-build-action@v2
        with:
          arguments: "publish"
        env:
          ORG_GRADLE_PROJECT_hyperaUsername: "${{ secrets.HYPERA_SNAPSHOTS_USERNAME }}"
          ORG_GRADLE_PROJECT_hyperaPassword: "${{ secrets.HYPERA_SNAPSHOTS_PASSWORD }}"

      - name: "Create release"
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          updateOnlyUnreleased: true
          generateReleaseNotes: true
          name: "Chameleon v${{ env.VERSION }}"
          prerelease: "${{ endsWith(env.VERSION, 'SNAPSHOT') }}"
          tag: "${{ env.VERSION }}"